<div class="container-fluid">
  <div class="row" style="height: 48px; background-color: #0a2463">
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

        </mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>

          <a [routerLink]="['/tail-data/mission-zero', 1]" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
