<app-data-table #dataTable [elements]="elements"
                [headElements]="headElements"
                [title]="title" (searchText$)="searchText($event)">
  <tr *ngFor="let el of elements; let i = index">
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(0)}">{{el.id}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(1)}">{{el.first}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(2)}">{{el.last}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(3)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(4)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(5)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(6)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(7)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(8)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(9)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(10)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(11)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(12)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(13)}">{{el.handle}}</td>
    <td *ngIf="i+1 >= dataTable.mdbTablePagination.firstItemIndex && i < dataTable.mdbTablePagination.lastItemIndex"
        [ngClass]="{'d-none': dataTable.shouldBeHidden(14)}">{{el.handle}}</td>
  </tr>
</app-data-table>
