/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Rubik-Light';
  text-align: right !important;
}

p {
  font-family: 'Rubik-Light';
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url(assets/fonts/Rubik-Medium.ttf) format("opentype");
}

@font-face {
  font-family: 'Rubik-Light';
  src: url(assets/fonts/Rubik-Light.ttf) format("opentype");
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url(assets/fonts/Rubik-Regular.ttf) format("opentype");
}
